* {
	margin: 0;
	padding: 0;
}

.fullpage {
	position: relative;
	width: 100%;
	height: 100%;

	background: #FFFAF5;
}

/* Main section */
#main-section {
	height: 574px;
}

h1 {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 96px;
	line-height: 92px;

	letter-spacing: -0.05em;
	text-transform: uppercase;

	color: #062D3E;
}

h1 span {
	color: #ED5C01;
}

.main-slogan {
	width: auto;
	height: 370px;
	margin: 120px 50px;
}

.paws {
	padding: 8px 500px;
	width: 172px;
	height: 179px;
}

.main-button {
	background: #ED5C01;
	border-radius: 247px;
	display: flex;
	justify-content: flex-start;
	width: 197px;
	height: 70px;
	margin-left: 70px;
	text-decoration: none;
	text-align: center;

}

.main-button span {
	font-family: 'Khmer';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 38px;
	letter-spacing: 0.09em;

	color: #FCEFE2;
	padding: 13px 40px;
	text-align: center;
	
}

.logo {
	width: 183px;
	height: 40px;
	margin: 25px 125px;
}
.logo-name {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 38px;

	letter-spacing: 0.01em;

	color: #062D3E;

}

.menu {
	width: 500px;
	height: 50px;
	margin-top: 22px;
}

header {
	display: flex;
	justify-content: space-between;
}

ul > li {
	display: inline-block;
}

.menu-item {
	display: block;
	color: white;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	width: 70px;
	letter-spacing: 0.01em;

	color: #062D3E;

	opacity: 0.77;
}
li .menu-item:hover {
	background-image: url("../assets/hover_2.png");
	color: white;
}
.background-rectangle {
	position: absolute;
	width: 400px;
	height: 800px;
	right: 0;
	top: 0;
}

.main-left {
	float: right;
}

.decoration-main {
	position: absolute;
	right: 0px;
	top: 200px;
	z-index: 1;
	height: 265px;
}

.main-image {
	position: absolute;
	right: 180px;
	height: 600px;
	top: 180px;
	z-index: 1;
}

.menu-buttons {
	box-sizing: border-box;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	padding: 12px 32px;

	width: 400px;
	height: auto;
	margin: 10px;

}

.sign-in-button {
	border: 2px solid #FFFFFF;
	border-radius: 190px;
	width: 138px;
	height: 62px;
	background: #062D3E;

	font-family: 'Khmer';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 38px;
	letter-spacing: 0.09em;

	color: #FFFFFF;


	
}

.sign-up-button {
	border: 2px solid #FFFFFF;
	border-radius: 190px;
	width: 138px;
	height: 62px;
	background: #062D3E;

	font-family: 'Khmer';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 38px;

	letter-spacing: 0.09em;

	color: #FFFFFF;

}

/* Pets section */

#pets-section {
	background: #ED5C01;
	height: 320px;
}

.pets {
	height: 320px;
}

.bone {
	padding: 10px 4px;
	vertical-align: top;
}

.category {
	width: 210px;
	height: 210px;
	padding: 40px 0px 0px 60px;
}

.gallery {
	width: 810px;
	height: 320px;
	display: flex;
	flex-flow: column;
	list-style: none;
}
.gallery-block {
	display: inline-block;
	vertical-align: middle;
	flex: right;
	margin-left: 50px;
	padding-bottom: 30px;
}

.first-row {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.gallery-image {
	filter: brightness(50%);
}

.gallery-image:hover {
	filter: brightness(100%);
}

#garanties-section {
	position: relative;
	background: #EBE3CC;
	height: 828px;
	overflow: hidden;
}

.blue-claws {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 185px;
}

#garanties-section h2 {
	font-family: 'Khmer';
	font-style: normal;
	font-weight: 400;
	font-size: 46px;
	line-height: 38px;
	letter-spacing: 0.06em;
	color: #062D3E;
	padding: 50px 0px 0px 0px;
	text-align: center;
}

.spiral {
	position: absolute;
	top: 30px;
	left: 5px;
}

.cards {
	display: flex;
	justify-content: space-between;
	height: auto;
}

.card-one {
	background-image: url('../assets/rectangle_yellow.png');
	margin-left: 70px;
	margin-top: 40px;
	height: 572px;
}

.on-selection {
	padding-left: 230px;
	width: 250px;
}

.card {
	width: 540px;
}

.card-content {
	width: 540px;
	height: 500px;
}

.card-text {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 31px;
/* or 155% */

	text-align: justify;

	color: #062D3E;

	padding: 16px 28px 0 32px;
}

.card-header {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 30px;
/* identical to box height, or 115% */

	display: flex;
	align-items: flex-end;

	color: #062D3E;
	padding-top: 36px;
	padding-left: 32px;
}

.card-image {
	padding-top: 61px;
	padding-left: 32px;
}

.card-button {
	display: inline-block;
	background: #062D3E;
	border-radius: 190px;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 32px;
	padding: 12px 35px;

	font-family: 'Khmer';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 38px;
/* identical to box height, or 190% */

	letter-spacing: 0.09em;

	color: #EBE3CC;

}

.card-two {
	margin-left: 30px;
	background-image: url(../assets/Rectangle_gar.png);
	margin-top: 55px;
	height: 514px;
}

.card-image-two {
	padding-top: 110px;
	padding-left: 32px;
}

.card-three {
	margin-left: 30px;
	margin-top: 120px;
	background-image: url(../assets/Rectangle_gar_1.png);
	height: 572px;
}

.gallery-left {
	background: transparent;
	border: none;
}

.gallery-right {
	background: transparent;
	border: none;
}
